html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  font: normal 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: white;
  margin: 0;
}

header {
  background-color: #ffe500;
  margin: 0;
  padding: .3em 0;
}

main {
  padding: 1em;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  text-transform: capitalize;
  color: #b20953;
  text-align: center;
  font-size: 3rem;
  display: block;
  margin: 0;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  text-transform: capitalize;
  color: #b20953;
  text-align: left;
  font-size: 1.875rem;
}

p {
  font-family: Georgia, serif;
  text-align: left;
  margin: .3em;
}

nav ul {
  display: inline-block;
  margin: 0;
  padding: .4em;
  list-style-type: none;
  text-decoration: none;
  font-size: 1rem;
  font-family: Georgia, serif;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  display: inline-block;
  text-align:center;
  color: white;
  padding: 0.1em;
  background-color: #b2a212;
  padding: .2em .2em;
  border-radius: 3px;
}

nav a:hover{
  background-color: #cc1465;
}

footer {
  text-align: center;
  font-family: Georgia, serif;
  color: #2f2d13;
  background-color: #ffe500;
  margin: 0;
  padding: 1em;
}

.current {
  background-color: #cc1465;
}
